@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

.nav-title {
  @apply text-xl font-medium
}

.intro-heading {
  @apply text-[44px] font-bold text-dark
}

.description {
  @apply text-sm text-dark 
}

.custom-button {
  @apply bg-primary text-white w-[208px] h-[47px] rounded-sm text-xl
}